.localCard{
  border-radius: 6px;
  box-shadow: 0 2px 2px hsla(38,16%,76%,.5);
  background-color: #fff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.localCard .header {
  padding: 20px 20px 0;
}

.localCard .avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.localCard .title {
  margin: 0;
  color: #252422;
  font-weight: 300;
}

.localCard .content {
  padding: 15px 15px 10px 15px;
}
.list-unstyled {
  //padding-left: 0;
  list-style: none;
  margin-right: -45px;
}
.ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}
.localCard ul.team-members li:not(:last-child) {
  border-bottom: 1px solid #f1eae0;
}

.localCard ul.team-members li {
  padding: 10px 0;
}
.img-circle {
  border-radius: 50%;
}
.img {
  vertical-align: middle;
}
.img {
  border: 0;
}
.avatar{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-muted {
  color: #ddd;
}
.text-right {
  text-align: right;
}

.small, small {
  font-size: 85%;
}
.col-xs-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
